.post {
  background-color: rgb(192, 5, 5);
  color: #fdfdfd;
  border: 1px solid #eb4040;
  border-radius: 6px;
  padding: 16px;
  margin: 20px auto;
  max-width: 700px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user {
  font-weight: 600;
  color: #ffe4e1;
  margin-bottom: 8px;
}

.post-content {
  font-size: 1rem;
  line-height: 1.6;
  color: #fff;
}
