<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the home page</h1>
    <h3><%= 1+2 %></h3>
    <p>
      Learning to code is like exploring a new world filled with puzzles,
      patterns, and possibilities. Each bug becomes a clue, each fix a small
      victory, and every project a chance to grow. The journey is not just about
      writing lines of code, but about building confidence, creativity, and
      connections along the way.
    </p>
    <button>click me</button>
  </body>
</html>
